@import "../../sass/UI";

footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $footer-color;

  p {
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
  }

  .socialMedia {
    display: flex;
    justify-content: center;
    margin-top: -40px;

    svg {
      color: white;
      margin: 20px;
      font-size: 3rem;
      cursor: pointer;
      transition: color 0.3s;
    }

    svg:hover {
      color: $primary-color;
    }
  }
}
