@import "../../sass/UI";

.image-slider {
  max-width: 100%;
  height: calc(100vh - 150px);
  margin: 0 auto 3rem auto;
  overflow: hidden;
  position: relative;
  display: flex;

  .overlays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 50;

    .left {
      position: absolute;
      left: 2rem;
      top: 50%;
      font-size: 2rem;
      border: none;
      color: black;
      z-index: 5;
      cursor: pointer;
      user-select: none;
      opacity: 0.5;
    }

    .right {
      position: absolute;
      right: 2rem;
      top: 50%;
      font-size: 2rem;
      border: none;
      color: black;
      z-index: 5;
      cursor: pointer;
      user-select: none;
      opacity: 0.5;
    }
  }

  ul {
    .currentSlide {
      transition-duration: 0.5s ease;
      opacity: 0;

      &.active {
        opacity: 1;
        transition-duration: 0.5s;
        transform: scale(1.2);
      }
    }

    li {
      position: absolute;
      width: 100%;
      height: 100%;

      h1 {
        font-size: 4rem;
        color: $tertiary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .image-slider {
    max-width: 100%;
    height: calc(100vh - 250px);
    margin: 0 auto 3rem auto;
    overflow: hidden;
    position: relative;
    display: flex;

    .overlays {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      z-index: 50;

      .left {
        position: absolute;
        left: 2rem;
        top: 50%;
        font-size: 2rem;
        border: none;
        color: black;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        opacity: 0.5;
      }

      .right {
        position: absolute;
        right: 2rem;
        top: 50%;
        font-size: 2rem;
        border: none;
        color: black;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        opacity: 0.5;
      }
    }

    ul {
      .currentSlide {
        transition-duration: 0.5s ease;
        opacity: 0;

        &.active {
          opacity: 1;
          transition-duration: 0.5s;
          transform: scale(1.2);
        }
      }

      li {
        position: absolute;
        width: 100%;
        height: 100%;

        h1 {
          font-size: 3rem;
          color: $tertiary-color;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
