@import "../../sass/UI";

nav {
  .flex {
    display: flex;
    padding: 0 1rem;

    li {
      padding-right: 1rem;

      a {
        padding: 0.5rem 0.8rem;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: $secondary-color;
          color: $primary-color;
        }
      }
    }
  }
}
